# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.db
*.sqlite3

# Node / React Frontend
node_modules/
.eslintcache
.pnpm-store/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Project Specific
backend/marked_slots/temp_calibration_frame.jpg
frontend/dist-ssr/
frontend/.cache/
videos/


*.log

# Reference materials
backend/extracted_report.txt
